// SITE

$site-width: 960px;
$site-gutter: 7.5%;

// BREAKPOINTS

$tablet: 768px;
$desktop: 1024px;

// FONTS

// $sans: ;
// $serif: ;

// COLORS

$red:    #DF1B33;
$white:  #EFF5D9;
$purple: #3D1E37;
